.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    background-image: linear-gradient(#1752d4e6, #1752d4e6);
}

.modal-container button {
    position: fixed;
    right: 5%;
    font-size: 36px;
    z-index: 9;
    background-color: transparent;
    color: red;
    opacity: 0.5;
    box-shadow: none;
}

.modal-container button:hover {
    background-color: transparent;
    color: red;
    opacity: 1;
}

.modal-main {
    position: absolute;
    left: 5%;
    top: 5%;
    right: 5%;
    bottom: 5%;
    background-color: black;
    display: flex;
    gap: 20px;
    padding: 0 20px;
    border-radius: 20px;
}

.modal-main .image {
    display: flex;
    width: 30%;
    align-items: center;
    justify-content: center;
    vertical-align: center;
}

.modal-main .image img {
    height: auto;
    width: 100%;
}

.modal-main .show-details {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 50px;
}


.name-year {
    font-size: 36px;
    width: 100%;
    color: magenta;
}

.summary {
    font-size: 24px;
    line-height: 36px;
}

.genres {
    font-size: 24px;
    color: orange;
    width: 100%;
}


